/**
 * @file: _flexGap.scss
 */

// @class: inline-flex flex-wrap flex-gap-{value}

@mixin flexGap(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $spacing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "flex-gap-",
      $modifier: $modifier,
      $property1: "--flex-gap",
      $value1: "0",
      $property2: "margin",
      $value2: "calc(-1 * #{$value}) 0 0 calc(-1 * #{$value})",
      $property3: "width",
      $value3: "calc(100% + #{$value})"
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "flex-gap-",
      $modifier: "#{$modifier} > *",
      $property1: "margin",
      $value1: #{$value} 0 0 #{$value}
    )
  }
}

@include flexGap($class: $default)
