/**
 * @file: _textColor.scss
 */

@mixin textColor(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "text-",
      $modifier: "#{$color}-#{$modifier}",
      $property1: "color",
      $value1: #{$value}
    )
  }
}

@include textColor ($class: $default)