/**
 * @file: _config.scss
 */

// create an explicitly separate version with
// ID to avoid CSS conflicts or when more than
// one CSS library or framework is being used.
// Default is empty. (e.g. new-) with a `dash`.
$id: "";

// by default using `:` symbol character to
// separate in between the {prefix} and the
// {class}. Use this option to make changes
// for templating engine that do no support
// special characters.
$separator: ":"; // do not empty!

// override existing css with this option,
// default is empty, to enable add `!important`.
$override: "";

$of: \/; // escaping `forward-slash`

/*
  @params $modifier, $value
*/

// adjust the sentivity of thresholds for
// screen size.
$minScreen: 20rem;
$maxScreen: 50rem;


$font-size:
  (xs, 0.75rem),
  (sm, 0.875rem),
  (md, 1rem),
  (lg, 1.125rem),
  (xl, 1.25rem),
  (2xl, 1.5rem),
  (3xl, 1.875rem),
  (4xl, 2.25rem),
  (5xl, 3rem),
  (6xl, 4rem),
  (7xl, 5rem),
  (8xl, 6rem);




