/**
 * @file: _config.scss
 */

// create an explicitly separate version with
// ID to avoid CSS conflicts or when more than
// one CSS library or framework is being used.
// Default is empty. (e.g. new-) with a `dash`.
$id: "";

// by default using `:` symbol character to
// separate in between the {prefix} and the
// {class}. Use this option to make changes
// for templating engine that do no support
// special characters.
$separator: ":"; // do not empty!

// override existing css with this option,
// default is empty, to enable add `!important`.
$override: "";

$of: \/; // escaping `forward-slash`

/*
  @params $modifier, $value
*/

