/**
 * @file: _config.scss
 */

// create an explicitly separate version with
// ID to avoid CSS conflicts or when more than
// one CSS library or framework is being used.
// Default is empty. (e.g. new-) with a `dash`.
$id: "";

// by default using `:` symbol character to
// separate in between the {prefix} and the
// {class}. Use this option to make changes
// for templating engine that do no support
// special characters.
$separator: ":"; // do not empty!

// override existing css with this option,
// default is empty, to enable add `!important`.
$override: "";

/*
  @params $modifier, $value
*/

// adjust the sentivity of thresholds for
// screen size.
$minScreen: 20rem;
$maxScreen: 50rem;

/* font size */

$font-size:
  (xs, 0.75rem),
  (sm, 0.875rem),
  (md, 1rem),
  (lg, 1.125rem),
  (xl, 1.25rem),
  (2xl, 1.5rem),
  (3xl, 1.875rem),
  (4xl, 2.25rem),
  (5xl, 3rem),
  (6xl, 4rem),
  (7xl, 5rem),
  (8xl, 6rem);

/* flex */

$flex:
  (1, 1 1 0%),
  (auto, 1 1 auto),
  (initial, 0 1 auto),
  (none, none);

$spacing: // for margin, padding
  (0, 0),
  (1, 0.25rem),
  (2, 0.5rem),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (8, 2rem),
  (10, 2.5rem),
  (12, 3rem),
  (16, 4rem),
  (20, 5rem),
  (24, 6rem),
  (32, 8rem),
  (40, 10rem),
  (48, 12rem),
  (56, 14rem),
  (64, 16rem);

/* dissect */

$dissect:
  (0, 0),
  (2, 2px),
  (4, 4px),
  (8, 8px);